@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mt-lg-5">
    <div class="col-6">
        <h2>Application Features</h2>
        <p>Simple CRUD Operation using ASP.NET Core Razor Pages Theming using <a href="https://getbootstrap.com/">Bootstrap</a></p>
        <h4>Shortcut link</h4>
        <ul>
            <li><a asp-page="/Books/Index">Books</a></li>
        </ul>
    </div>
    
</div>
