@page
@model RazorCrudApp.Pages.author._AuthorBooksModel
@{
}
<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>
                    <p class="card-text">@book.PublishedDate</p>
                    <a asp-page="/Book/Details" asp-route-id="@book.Id" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
    }
</div>